@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bevan:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(flipCard.css);
html {
    background-color: #f3eddd;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: max(1rem, 3vw);
}


/*NAVBAR STUFF*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 10px;
    background-color: #f3eddd;
    position: fixed;
    top: -3px;
    width: 100%;
    height: 10%;
    z-index: 100;
}

.left-nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.head a {
    gap: 10px;
    margin-left: 40px;
    text-decoration: none;
    font-family: 'Anton', serif;
    font-size: 25px;
    font-weight: 550;
    color: #412e23;
    border: #412e23;
    box-shadow: 0px 10px 20px 0 rgba(252, 252, 252, 0);
    border-radius: 10%;
}

.head a:hover {
    text-decoration: underline;
    text-decoration-color: #D94A26;
    text-decoration-thickness: 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    list-style-type: none;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px 0;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: #f3eddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-content a {
    text-decoration: none;
    font-family: 'Anton', serif;
    pointer-events: auto;
    font-size: 20px;
    color: #412e23;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
    box-sizing: border-box;
}

.dropdown-content a:hover {
    background-color: #D94A26;
    color: #FCEBD1;
    padding: 9px 1px;
    border-radius: 40px;
    width: auto;
}

.middle-nav-logo p {
    font-family: 'Alfa Slab One', serif;
    font-weight: 500;
    color: #D94A26;
    font-size: 50px;
    margin-left: -130px;
}

.right-nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    margin-right: 55px;
}

.right-nav-buttons img {
    cursor: pointer;
}

.container {
    height: 100vh;
    animation: fadeIn 0.5s forwards;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.section {
    overflow: hidden;
    height: 100vh;
    scroll-snap-align: start;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 1% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.homePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.homePageText {
    margin-left: 50px;
    margin-top: 300px;
    text-align: left;
    height: auto;
    float: left;
    width: 50%;
}

.homePageHeader {
    display: block;
    font-family: 'Bevan', sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 0.99;
    color: #412e23;
    margin-bottom: 10px;
    margin-top: -150px;
    font-style: italic;
}

.homePageDescription {
    display: flex;
    font-family: "Lato", serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 0.95;
    color: #412e23;
    margin-top: 0;
    line-height: 1.4;
    text-align: justify;
}

.homePageImage {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-top: 30px;
    margin-right: -150px;
    width: 50%;
    scale: 1.2;
}

.videoContainer video {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


/* SunnySide Up */

#sunnySideUp,
#boiledEgg,
#omelette {
    padding: 50px 60px 50px 60px;
}

.container-content {
    display: flex;
    padding: 20px 0px 0px 20px;
    gap: 50px 50px;
}

.leftSide {
    width: 1000px;
    height: 500px;
    align-content: center;
    padding: 20px;
}

.tutorialHeaders h5 {
    display: block;
    font-family: 'Bevan', sans-serif;
    font-size: 44px;
    font-weight: 100;
    color: #412e23;
    font-style: normal;
    margin-bottom: 0;
}

.tutorialDescription {
    display: flex;
    font-family: "Lato", serif;
    font-size: 20px;
    font-weight: 500;
    color: #412e23;
    text-align: justify;
}


/* QUIZ Style */

.container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

.toggle-checkbox {
    display: none;
}

.toggle-button {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-family: 'Anton', serif;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #412e23;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #412e23;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.toggle-button:before {
    border-radius: 8px;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #412e23;
    z-index: -1;
}

.toggle-button:hover {
    color: white;
}

.toggle-button:hover:before,
.toggle-button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.toggle-button:active {
    transform: scale(0.9);
}

.hidden-section {
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: transform 0.5s ease, max-height 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
    background-color: #f8f4f2;
    border: 
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.toggle-checkbox:checked~.hidden-section {
    max-height: 500px;
    transform: scaleY(1);
    padding: 20px;
}

/* INSIDE QUIZ */
/* QUIZ Style */

.container {
    text-align: center;
    margin: 20px auto;
    padding: 80px;
}

.toggle-checkbox {
    display: none;
}

.toggle-button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #412e23;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #412e23;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.toggle-button:before {
    border-radius: 8px;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #412e23;
    z-index: -1;
}

.toggle-button:hover {
    color: white;
}

.toggle-button:hover:before,
.toggle-button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.toggle-button:active {
    transform: scale(0.9);
}

.hidden-section {
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: transform 0.5s ease, max-height 0.5s ease, padding 0.5s ease;
    padding: 20px 20px;
    background-color: #f8f4f2;
    border: 3px solid #412e23;
    border-radius: 12px;
    border-radius: 20px;
    margin: 20px auto;
    width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.toggle-checkbox:checked~.hidden-section {
    max-height: 800px;
    transform: scaleY(1);
    padding: 20px;
}


/* INSIDE QUIZ */


/* Scroll Wrapper */

.scroll-wrapper {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f4f2;
}


/* Scrollbar Styling */

.scroll-wrapper::-webkit-scrollbar {
    width: 8px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.scroll-wrapper::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
}


/* Radio styling something blah blaj */

.radio-input input {
    display: none;
}

.radio-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
    width: 95%;
}

.info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question {
    color: rgb(49, 49, 49);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 800;
}

.steps {
    background-color: rgb(0, 0, 0);
    padding: 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
}

.radio-input label {
    display: flex;
    background-color: #fff;
    padding: 14px;
    margin: 8px 0 0 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(187, 187, 187, 0.164);
    color: #000;
    transition: 0.3s ease;
}

.radio-input label:hover {
    background-color: rgba(24, 24, 24, 0.13);
    border: 1px solid #bbb;
}

.radio-input input:checked+label {
    border-color: red;
    color: red;
}


/* Success/Failure Display */

.radio-input input:checked+label {
    background-color: #ffe5e5;
    border-color: red;
    color: red;
}

.radio-input input[value="value-1"]:checked+label,
.radio-input input[value="value-7"]:checked+label,
.radio-input input[value="value-11"]:checked+label,
.radio-input input[value="value-13"]:checked+label,
.radio-input input[value="value-20"]:checked+label,
.radio-input input[value="value-22"]:checked+label,
.radio-input input[value="value-27"]:checked+label,
.radio-input input[value="value-30"]:checked+label,
.radio-input input[value="value-34"]:checked+label,
.radio-input input[value="value-38"]:checked+label,
.radio-input input[value="value-41"]:checked+label,
.radio-input input[value="value-46"]:checked+label,
.radio-input input[value="value-49"]:checked+label,
.radio-input input[value="value-54"]:checked+label,
.radio-input input[value="value-58"]:checked+label,
.radio-input input[value="value-62"]:checked+label,
.radio-input input[value="value-66"]:checked+label,
.radio-input input[value="value-70"]:checked+label,
.radio-input input[value="value-75"]:checked+label,
.radio-input input[value="value-79"]:checked+label {
    background-color: #e5ffe5;
    border-color: green;
    color: green;
}
/* ANIMATION */
/* egg section */
.egg-section{
    display: flex;
    justify-content: center;
    padding-top: 180px;
}
.easter-animation {
    position: relative;
  }
  
  .egg {
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: linear-gradient(
      295deg,
      #ff595e 15%,
      #8ac926 15%,
      #8ac926 30%,
      #ff595e 30%,
      #ff595e 49%,
      #8ac926 49%,
      #8ac926 70%,
      #ff595e 70%
    );
    overflow: hidden;
    animation: bounce 1s linear infinite;
  }
  
  .egg:before,
  .egg:after {
    position: absolute;
    content: "";
  }
  
  .egg:before {
    width: 200px;
    height: 100px;
    background-color: #1982c4;
    top: 160px;
    box-shadow: 0 -50px #ffca3a, 0 -65px #8ac926, 0 -90px #6a4c93, 0 -95px #ffca3a;
  }
  
  .egg:after {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #ffca3a;
    left: 90px;
    top: 75px;
    box-shadow: -40px 0 #ffca3a, 40px 0 #ffca3a, -80px 0 #ffca3a, -120px 0 #ffca3a;
  }
  
  .eyes {
    position: absolute;
    background-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 30px;
    left: 90px;
    top: 120px;
    box-shadow: 20px 0 #333;
  }
  
  .eyes:before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 5px;
    height: 12px;
    border-radius: 50%;
    left: 12px;
    top: 10px;
    box-shadow: 20px 0 #fff;
  }
  
  .eyes:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: #1982c4;
    top: -130px;
    left: -100px;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateY(-70px) translateX(30px);
    }
    50% {
      transform: scale(1.05, 0.95) translateY(0) translateX(30px) rotate(-10deg);
    }
    58% {
      transform: scale(1, 1) translateY(-7px) translateX(0);
    }
    65% {
      transform: scale(1, 1) translateY(0);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }
  
  .shadow {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 20px;
    border-radius: 50%;
    left: 20px;
    top: 190px;
    animation: move 1s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0) scale(0.8);
    }
    30% {
      transform: translateX(0) scale(0.8);
    }
    50% {
      transform: translateX(30px) scale(0.7);
    }
    58% {
      transform: translateX(20px);
    }
    65% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .clouds {
    position: absolute;
    width: 500px;
  }
  
  .cloud1,
  .cloud2,
  .cloud3 {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 25px;
    border-radius: 100px;
  }
  
  .cloud1:before,
  .cloud2:before,
  .cloud3:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: -20px;
    left: 20px;
    background-color: white;
    border-radius: 50%;
  }
  
  .cloud1 {
    top: -150px;
    z-index: -1;
    animation: clouds 2s linear infinite;
  }
  
  .cloud2 {
    top: -70px;
    opacity: 0.5;
    transform: scale(0.7);
    animation: clouds 1.8s linear infinite;
  }
  
  .cloud3 {
    top: -100px;
    opacity: 0.5;
    transform: scale(0.9);
    animation: clouds 1.5s linear infinite;
    z-index: -2;
  }
  
  @keyframes clouds {
    from {
      left: 500px;
    }
    to {
      left: -500px;
    }
  }
  