@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Sora:wght@100..800&display=swap');

html {
    background-color: #f3eddd; 
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: max(1rem, 3vw);
}


/*NAVIGATION BAR STYTLE*/
nav {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #f3eddd;
    box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.2);
}

.left-nav-buttons {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.left-nav-buttons img {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    margin-left: -4px;
}
.leftbuttons li {
    font-family: 'Anton', serif;
    font-weight: 600;
    color: #412e23;
    font-style: normal;
}

.left-nav-buttons button {
    border: 0px;
    background-color: transparent;
    color: #412e23;
    font-family: anton;
    font-size: 1.5rem;
    cursor: pointer;
}

.left-nav-button {
    margin: 0 1rem;
}

.left-nav-buttons a {
    text-decoration: none;
    color: #412e23;
    font-family: 'Cerebri Sans', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.2s ease;
}

.dropdown-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3eddd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.dropdown-content a {
    color: #412e23;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 7.9rem;
    border-radius: 8px;
    margin: 0.3rem;
    font-family: 'Cerebri Sans', sans-serif;
    font-weight: 600;
}

.dropdown-content a:hover {
    background-color: #b83c1c;
    color: white;
}

.middle-nav-logo p {
    font-family: alfa slab one;
    color: #b83c1c;
    font-size: 2rem;
    cursor: pointer;
}

.right-nav-buttons {
    display: flex;
    flex-direction: row;
    padding-right: 2.5rem;
}

.right-nav-buttons img {
    margin: 0 1rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}


.container {
    height: 100vh;
    animation: fadeIn 0.5s forwards;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.section {
    overflow: hidden;
    height: 100vh;
    scroll-snap-align: start;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 1% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.homePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.homePageText {
    margin-left: 50px;
    margin-top: 50px;
    text-align: left;
    height: auto;
    float: left;
    width: 50%;
}

.homePageHeader {
    display: block;
    font-family: 'chunkfive', sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 0.95;
    color: #412e23;
    margin-bottom: 10px;
}

.homePageDescription {
    display: flex;
    font-family: 'Cerebri Sans', sans-serif;
    font-size: 33px;
    font-weight: 200;
    line-height: 0.95;
    color: #412e23;
    margin-top: 0;
    line-height: 1.4;
    text-align: justify;
}

.homePageImage {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-top: 30px;
    margin-right: -150px;
    width: 50%;
    scale: 1.2;
}

@font-face {
    font-family: 'chunkfive';
    src: url('path/to/chunkfive.woff2') format('woff2'), url('path/to/chunkfive.woff') format('woff');
    font-family: 'Cerebri Sans';
    src: url('https://fonts.gstatic.com/s/cerebrisans/v6/mtG94_QS6_Z2f2J4LXx8Zl5mXw.woff2') format('woff2');
}

@media (min-width: 1280px) {
    .homePageContainer {
        flex-direction: row;
    }
}

/* QUIZ Style */

.container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-button {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #412e23;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #412e23;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
  }

  .toggle-button:before {
    border-radius: 8px;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #412e23;
    z-index: -1;
  }

  .toggle-button:hover {
    color: white;
  }

  .toggle-button:hover:before,
.toggle-button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.toggle-button:active {
  transform: scale(0.9);
}
  
  .hidden-section {
    max-height: 0;
    transform: scaleY(0); 
    transform-origin: top; 
    overflow: hidden;
    transition: transform 0.5s ease, max-height 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
    background-color: #f8f4f2;
    border: 3px solid #412e23;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .toggle-checkbox:checked ~ .hidden-section {
    max-height: 500px; 
    transform: scaleY(1); 
    padding: 20px;
  }

  /* INSIDE QUIZ */

 
  